{% extends "webapp/header.html" %}
{% block content %}
<p> We provide you an expert advice for following insurances:-</p>
<ul class="list-group">
    <li class="list-group-item">Supervisa Insurance</li>
    <li class="list-group-item">Life Insurance</li>
    <li class="list-group-item">Critical Illness Insurance</li>
    <li class="list-group-item">RESP</li>
    <li class="list-group-item">Mortgage Insurance</li>
    <li class="list-group-item">Visitor's Insurance</li>
    <li class="list-group-item">Non Medical Insurance</li>
</ul>
{% endblock %}